#selection-info-modal {
    color:black;
}

#selection-info-modal .session-location p{
    margin: 0;
    display: inline-block;
    font-weight: bold;
}

#selection-info-modal .session-location .dropdown{
    display: inline-block;
    margin-left: 10px;
}

#selection-info-modal .session-server-location-container {
    margin-top: 5px;
}

#selection-info-modal .session-server-location-container p{
    margin: 0;
    display: inline-block;
    font-weight: bold;
}

#selection-info-modal .session-server-location-container .input-group{
    display: inline-block;
    margin-left: 10px;
    width: unset;
}

#selection-info-modal .session-server-location-container input{
    width: 150px;
    height: 30px;
}

#selection-info-modal .rdt {
    display: inline-block;
    margin-left: 20px;
    color:black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#selection-info-modal .rdt input{
    font-weight: bold;
    position: relative;
    padding: 3px;
    top: 2px;
    height: 30px;
    width: 170px;
    border: solid 1px black;
}

#session-location-button  {
    margin-left: 15px;
    width: 150px;
}