.tool-toolbar {
    background: #222222;
    padding-left: 10px;
    color: white;
}

.tool-toolbar .tool-title-container {
    display: inline-block;
    width: 100%;
}

.tool-title-container p.tool-name{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 7px;
    padding-right: 10px;
    border-right: solid black 3px;
    display: inline;
}

.tool-title-container i.tool-icon {
    margin-right: 4px;
}