
#practice-tool .practice-tool-chart-dropdown-container {
    display: inline-block;
    height: 100%;
    position: relative;
}   

.practice-tool-chart-dropdown-container .dropdown {
    bottom: 7px;
    left: 10px;
    display: inline-block;
}

.practice-tool-chart-dropdown-container .refresh-chart {
    left: 20px;
    position: relative;
    font-size: 30px;
    cursor: pointer;
}

.practice-tool-chart-dropdown-container .refresh-chart:hover {
    color:green;
    font-weight: bold;
}

#practice-tool .practice-tool-container-outter {
    margin: 5px;

    display: flex;
    flex-flow: column;
    height: 94%;
}

.practice-tool-container-outter .practice-tool-container {
    padding: 0;
    height: 100%;
}

.practice-tool-container .practice-tool-row {
    padding: 0;
    margin:0;
}

.practice-tool-container .practice-tool-row .practice-tool-col-container{
    padding: 2px;
    margin:0;
}

.practice-tool-col-container .practice-tool-col {
    background: #222222;
    display: block;
    height: 100%;
}

.practice-tool-col h1 {
    text-align: center;
    vertical-align:middle;
}
