
#practice-tool .practice-tool-chart-dropdown-container {
    display: inline-block;
    height: 100%;
    position: relative;
}   

.practice-tool-chart-dropdown-container .dropdown {
    bottom: 7px;
    left: 10px;
    display: inline-block;
}

.practice-tool-chart-dropdown-container .rdt {
    bottom: 7px;
    display: inline-block;
    margin-left: 20px;
    color:black;
}

.practice-tool-chart-dropdown-container .rdt input{
    font-weight: bold;
    position: relative;
    padding: 3px;
    top: 2px;
    height: 30px;
    width: 95px;
    border: solid 1px black;
}

.practice-tool-chart-dropdown-container .rdt .rdtPicker .rdtTimeToggle{
    /* display: none; */
}


.practice-tool-chart-dropdown-container .refresh-chart {
    left: 20px;
    position: relative;
    font-size: 30px;
    cursor: pointer;
}

.practice-tool-chart-dropdown-container .refresh-chart:hover {
    color:green;
    font-weight: bold;
}

.practice-tool-chart-dropdown-container .pauseplay-chart {
    /* left: 30px;
    position: relative;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    padding:4px;
    background: crimson; */

    left: 30px;
    position: relative;
    font-size: 20px;
    cursor: pointer;
    
    border-radius: 50%;
    bottom: 4px;

    
}

.practice-tool-chart-dropdown-container .pauseplay-chart.paused {
    color: white;
    background: crimson;
    padding: 6px 9px 6px 7px;
    border: 1px solid slategray;
}

.practice-tool-chart-dropdown-container .pauseplay-chart.playing {
    color: black;
    background: greenyellow;
    padding: 6px 6px 6px 10px;
    border: 1px solid slategray;
}

.practice-tool-chart-dropdown-container .pauseplay-chart:hover{
    color:orange !important;
    font-weight: bold;
}

.practice-tool-chart-dropdown-container .clock-chart {
    display: inline-block;
    margin: 0;
    font-weight: 400;
    margin-left: 40px;
    position: relative;
    bottom: 5px;
    font-size: 17px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    color: white;
    border: 1px solid black;
}

.practice-tool-chart-dropdown-container .active-capital-info {
    display: inline-block;
    margin: 0;
    position: relative;
    bottom: 3px;
    font-size: 17px;
    margin-left: 10px;
    font-weight: bold;
    background: #007bff;
    padding: 3px 6px 3px 6px;
    border-radius: 3px;
    border: 1px solid white;
}

.practice-tool-chart-dropdown-container .clock-chart.playing {
    background-color: darkred;
}

.practice-tool-chart-dropdown-container .clock-chart.paused {
    background-color: green;
}

.practice-tool-chart-dropdown-container .download-trade-log-button {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    bottom: 6px;
}

.practice-tool-chart-dropdown-container .indicator-button {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    bottom: 6px;
}


#practice-tool .tool-title-container .session-id {
    margin: 0;
    display: inline-block;
    position: relative;
    font-weight: bold;
    float: right;
    margin-right: 10px;
    top: 10px;
}

#practice-tool .practice-tool-container-outter {
    margin: 5px;

    display: flex;
    flex-flow: column;
    height: 94%;
}

.practice-tool-container-outter .practice-tool-container {
    padding: 0;
    height: 100%;
}

.practice-tool-container .practice-tool-row {
    padding: 0;
    margin:0;
}

.practice-tool-container .practice-tool-row .practice-tool-col-container{
    padding: 2px;
    margin:0;
}

.practice-tool-col-container .practice-tool-col {
    background: #222222;
    display: block;
    height: 100%;
}

.practice-tool-col h1 {
    text-align: center;
    vertical-align:middle;
}

