div.chart-container {
    background: #222222;
    display: block;
    height: 100%;
}

.chart-container .chart-topbar {
    height: 23px;
    border: dashed 1px white;
}

.chart-topbar button {
    height: 19px;
    bottom:2px;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0px;
    font-size: 10px;
    font-weight: bold;
}

.chart-topbar input {
    height: 19px;
    bottom:2px;
}

.chart-topbar .dropdown {
    display: inline-block;
    bottom: 3px;
    margin-left: 5px;
}

.chart-topbar .input-group {
    width: 50px;
    display: inline-block;
    margin-left: 5px !important;
}

.chart-topbar .chart-ticker-form-control {
    text-transform: uppercase;
}

.chart-topbar .input-group input{
    padding: 2px;
    padding-left: 7px;
   
    font-size: 13px;
    font-weight: bold;
    width: 50px;
}

.chart-topbar .dropdown button{
    /* padding-top: 2px;
    padding-bottom: 2px; */
}

.chart-topbar .chart-trade-button  {
    display: inline-block;
    margin-left: 5px;
    /* padding-top: 2px;
    padding-bottom: 2px; */
    /* bottom: 1px; */
    position: relative;
    border: solid 1px gray;
}

.chart-topbar .chart-buy-button  {
    background-color:green;
}

.chart-topbar .chart-sell-button  {
    background-color:crimson;
}

.chart-topbar .chart-show-trades-button  {
    background-color:purple;
}

.chart-topbar .chart-show-orders-button  {
    background-color:rgb(0, 138, 69);
}



.chart-topbar p.chart-id-name {
    margin: 0;
    position: relative;
    display: inline-block;
    font-weight: 500;
    margin-left: 10px;
    color: burlywood;
    font-size: 14px;
}

.chart-container .chart-main-content {
    /* background: #222222; */
    background: black;
    height: calc(100% - (30px));
}